* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.anasayfa_faaliyetler {

    width: 80%;
    margin: auto;

}

.anasayfa_faaliyetler .faaliyetler {
    width: 100%;
    /* border: 2px solid red; */

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    justify-content: space-between;
    text-align: center;
    position: relative;
}


.anasayfa_faaliyetler .faaliyetler .image {
    /* background-color: chocolate; */
    margin: auto;
}

.anasayfa_faaliyetler .faaliyetler img {
    width: 1000px;
    object-fit: contain;
    max-width: 100%;
}

.anasayfa_faaliyetler .faaliyetler .description {
    position: relative;
}

.anasayfa_faaliyetler .faaliyetler h2 {
    color: rgb(1, 71, 152);
    text-transform: uppercase;
}

.anasayfa_faaliyetler .faaliyetler p {
    /* background: chartreuse; */
}





@media only screen and (max-width: 2560px) {

    .anasayfa_faaliyetler .description {
        margin: auto;
    }

    .anasayfa_faaliyetler h2 {
        width: 80%;
        margin: auto;
    }

    .anasayfa_faaliyetler p {
        width: 90%;
        margin: auto;
    }

}

@media only screen and (max-width: 1024px) {}



@media only screen and (max-width: 768px) {
    .anasayfa_faaliyetler .col-rev-mob {
        flex-direction: column-reverse !important;
    }

    .anasayfa_faaliyetler .col-mob {
        flex-direction: column !important;
    }

    .anasayfa_faaliyetler .box_sub {
        width: 100%;
    }

    .anasayfa_faaliyetler .anasayfa_faaliyetler {
        width: 90%;
    }

}



@media only screen and (max-width: 425px) {

    .anasayfa_faaliyetler .anasayfa_faaliyetler {
        width: 100%;
    }

}

.hor{
    display: flex;
    flex-wrap:nowrap;
    overflow-x: auto;
}

.hor .item {

    width: 100%;
    height: 100vh;
    text-align: center;
    flex: 0 0 auto;
}



h3{
    padding-top: 50vh;
}


.i1 {

    background-color: blueviolet;

}

.i2 {

    background-color: royalblue;

}

.i3 {

    background-color: rgb(26, 4, 46);

}

.i4 {

    background-color: rgb(29, 121, 124);

}



