* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(215, 220, 215);
}



/* @media only screen and (max-width: 2560px) {



}

@media only screen and (max-width: 1024px) {

}



@media only screen and (max-width: 768px) {


} */



@media only screen and (max-width: 425px) {

h2{
    font-size: 22px;
}

h5{
    font-size:18px;
}

p{
    font-size: 16px;
}

}




.anasayfa_faaliyetler {

    width: 80%;
    margin: auto;
    overflow:hidden;

}

.anasayfa_faaliyetler .faaliyetler {
    width: 100%;
    /* border: 2px solid red; */

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    justify-content: space-between;
    text-align: center;
    position: relative;
    background-color: rgb(230, 230, 230);
}


.anasayfa_faaliyetler .faaliyetler .image {
    /* background-color: chocolate; */
    margin: auto;
}

.anasayfa_faaliyetler .faaliyetler img {
    width: 1000px;
    object-fit: contain;
    max-width: 100%;
}

.anasayfa_faaliyetler .faaliyetler .description {
    position: relative;
}

.anasayfa_faaliyetler .faaliyetler h2 {
    color: rgb(1, 71, 152);
    text-transform: uppercase;
}

.anasayfa_faaliyetler .faaliyetler p {
    /* background: chartreuse; */
}





@media only screen and (max-width: 2560px) {

    .anasayfa_faaliyetler .description {
        margin: auto;
    }

    .anasayfa_faaliyetler h2 {
        width: 80%;
        margin: auto;
    }

    .anasayfa_faaliyetler p {
        width: 90%;
        margin: auto;
    }

}

@media only screen and (max-width: 1024px) {}



@media only screen and (max-width: 768px) {
    .anasayfa_faaliyetler .col-rev-mob {
        flex-direction: column-reverse !important;
    }

    .anasayfa_faaliyetler .col-mob {
        flex-direction: column !important;
    }

    .anasayfa_faaliyetler .box_sub {
        width: 100%;
    }

    .anasayfa_faaliyetler .faaliyetler {
        width: 90%;
        margin: auto;
    }
    .anasayfa_faaliyetler{
        width: 98%;
    }

}



@media only screen and (max-width: 425px) {

    .anasayfa_faaliyetler .faaliyetler {
        width: 100%;
        margin: auto;

    }

}









footer{

text-align: center;
color: white;
background-color: rgb(1, 71, 152);

}


footer .social{
    display: flex;
    justify-content: space-between;
    width: 800px;
}

footer .social i{
    color: whitesmoke;
    font-size: 35px;
}

@media only screen and (max-width: 800px) {

    footer .social{
       width: 90%;
    }

}

footer .yazi{

width: 80%;

}

footer hr{
    width: 60%;
    border-bottom: 2px solid whitesmoke;
}

@media only screen and (max-width: 768px) {

    footer .yazi{
       width: 90%;
    }

}



#whatsapp {
    position: fixed;
    bottom: 20px;
    left: 2.6%;
    background-image: url(images/bg-color.png);
    border-radius: 15%;
    background-size: cover;
    text-align: center;
}

#whatsapp i{
    font-size: 70px;
    color: rgb(42, 231, 105);
    margin: 12px;
}

@media only screen and (max-width: 425px) {

    #whatsapp {
        bottom: 10px;
        left: 10px;
    }

    #whatsapp i{
        font-size: 40px;
    }

}

/* 
.desen{
    position: fixed;
    top: 20px;
    left: 2%;
    width: 96%;
    max-width: 100% !important;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}

.desen .left{
    height: 95vh;
    width: 6%;
    background-image: url("images/desen1-transparent.png");
    background-repeat: repeat-y;
    background-size: contain;
}


.desen .right{
    height: 120vh;
    width: 6%;
    background-image: url("images/desen1-transparent.png");
    background-repeat: repeat-y;
    background-size: contain;
} */




 .referans{
     margin-left: 25px;
 }